name: test macOS installation
on:
  - pull_request

jobs:
  test_installation:
    strategy:
      matrix:
        # macOS versions supported by GitHub Actions runners
        # https://endoflife.date/macos
        # https://github.com/actions/runner-images?tab=readme-ov-file#available-images
        macos: [macos-13, macos-14, macos-15]
    runs-on: ${{ matrix.macos }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Homebrew
        run: |
          brew tap kitsuyui/myip  # kitsuyui/myip => kitsuyui/homebrew-myip

      - name: Checkout branch
        run: |
          INSTALLED_PATH=$(brew --repo kitsuyui/myip)
          cd $INSTALLED_PATH
          git checkout ${{ github.head_ref }}
        if: ${{ github.head_ref != 'main' }}

      - name: Test installation
        run: |
          uname -m
          brew install myip
          myip --help

        env:
          HOMEBREW_NO_AUTO_UPDATE: '1'
          HOMEBREW_NO_INSTALL_CLEANUP: '1'
          HOMEBREW_NO_ENV_HINTS: '1'
